:root {
    --h1-font-size: clamp(2rem, 1.5vw + 1.8rem, 3.5rem);
    --h2-font-size: clamp(1.5rem, 1vw + 1rem, 2.5rem);
    --h3-font-size: clamp(1.1rem, 1vw + .5rem, 2rem);
    --p-color: rgb(107, 107, 107);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html, body {
    background: #fdfeff;
}

main {
  margin: 0 10%;
}

.wrapper-main {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

p {
    font-size: 1.125rem;
    color: var(--p-color);
}

.btn-primary {
    width: 190px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 25px;
    background: rgba(69, 143, 246, 1);
    color: white;
    font-size: var(--p-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    transform: scale(1.05)
}

.secondary-btn {
    width: 190px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 25px;
    border: 2px solid rgba(69, 143, 246, 1);
    background: transparent;
    color: rgba(69, 143, 246, 1);
    font-size: var(--p-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.secondary-btn:hover {
    transform: scale(1.05)
}